.hero {
  &.is-success {
    background: #F2F6FA;
  }
  .nav,
  &.is-success .nav {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

p {
  font-weight: 700;

  &.subtitle {
    padding-top: 1rem;
  }
}
