<section class="hero is-success is-fullheight is-medium">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">

        <router-outlet></router-outlet>
        <p class="has-text-grey">
          <a routerLink="register" *ngIf="currentUrl === '/auth/login'">Register ·</a>
          <a routerLink="login" *ngIf="currentUrl === '/auth/register'">Login ·</a> &nbsp;
          <a href="#">Forgot Password</a> &nbsp;·&nbsp;
          <a href="#">Need Help?</a>
        </p>
      </div>
    </div>
  </div>
</section>
