<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="/dashboard/">
        <strong>PollRoll</strong>
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" routerLink="/poll/create/">
          Create
        </a>

        <a class="navbar-item" routerLink="/poll/view/1">
          View
        </a>

        <a class="navbar-item" routerLink="/poll/result/">
          Results
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Menu
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item">
              Users
            </a>
            <a class="navbar-item">
              About
            </a>
            <a class="navbar-item">
              Help
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Report an issue
            </a>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              <img src="{{pic}}" alt="User Avatar" class="avatar"> {{userName}}
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item">
                Profile
              </a>
              <a class="navbar-item">
                Change password
              </a>
              <a class="navbar-item" (click)="this.logout()">
                Logout
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item">
                About
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
